.SecThree {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 160%;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.link {
    color: #272727;
}

.box {
    width: 80%;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #525252;
    margin-bottom: 0px;
}

.img {
    width: 60%;
}

.btn {
    background-color: #d6eebe;
    border-radius: 4px;
    border: 0;
    padding: 8px 16px;
}

.link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #272727;
}