.SecEight {
    background: #272727;
    padding: 100px 0;
    margin-top: 240px;
    margin-bottom: 200px;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
    text-transform: uppercase;
    color: #272727;
    display: block;
    margin-bottom: 32px;
    text-align: center;
    font-family: Benzin, sans-serif;
    color: #fff;
}

.text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: hsla(0, 0%, 100%, .8);
}

.tt {
    border: 0;
    background-color: rgba(51, 50, 50, 0.65);
}

.tit {
    background-color: rgba(51, 50, 50, 0.65);
    color: #fff;
}

.t {
    width: 65%;
    background-color: rgba(51, 50, 50, 0.65);
    margin: 0 auto;
}